- if @result
  #total-errors{:style => "color:red;"}
    = h(@result.errors.size)
    error(s)
= form_for :customer, :url => Braintree::TransparentRedirect.url, :params => @result && @result.params[:customer],:existing => @braintree_data, :builder => BraintreeFormHelper::BraintreeFormBuilder, :errors => @result && @result.errors.for(:customer) do |f| |
  = field_set_tag "Customer" do
    %dl
      %dt= f.label :first_name, 'First Name'
      %dd= f.text_field :first_name
      %dt= f.label :last_name, 'Last Name'
      %dd= f.text_field :last_name
      %dt= f.label :phone, 'Phone'
      %dd= f.text_field :phone
  - if @default_cc
    %ul
      %li
        Default Credit Card
        = @default_cc.masked_number
        = # (#{link_to @default_cc.token, edit_credit_card_info_path(:id => @default_cc.token)})
      %li
        Transaction History
        = render(:partial => "transaction", :collection => @transactions)
      - if @subscriptions.any?
        %li
          Active Subscriptions
          = # todo: won't really have multiple subscriptions
          = render(:partial => "subscription", :collection => @subscriptions)
  = hidden_field_tag :tr_data, @tr_data
  = f.submit 'Save Customer Info'