- if @result
  #total-errors{:style => "color:red;"}
    = h(@result.errors.size)
    error(s)
= form_for :customer, :url => Braintree::TransparentRedirect.url, :params => @result && @result.params[:customer], :builder => BraintreeHelper::BraintreeFormBuilder, :errors => @result && @result.errors.for(:customer) do |f|
  = field_set_tag "Customer" do
    %dl
      %dt= f.label :first_name, 'First Name'
      %dd= f.text_field :first_name
      %dt= f.label :last_name, 'Last Name'
      %dd= f.text_field :last_name
      %dt= f.label :phone, 'Phone'
      %dd= f.text_field :phone
  = field_set_tag "Credit Card" do
    - f.fields_for :credit_card do |cc|
      %dl
        %dt= cc.label :number, 'Number'
        %dd= cc.text_field :number
        %dt= cc.label :expiration_date, 'Exipration Date (MM/YY)'
        %dd= cc.text_field :expiration_date
        %dt= cc.label :cvv, 'CVV'
        %dd= cc.text_field :cvv
  = hidden_field_tag :tr_data, @tr_data
  = f.submit 'Save Payment Info'