.form-actions
  = link_to t(:make_payment), new_payment_path, :class => 'btn btn-primary'
= render :partial => 'payments/customer_data'
%legend= t(:last_three_transactions)
- counter = 0
= # these will be ordered with most recently created first, per http://stackoverflow.com/questions/16425475/
- @transactions.each do |t|
  - break if counter > 2 # not ruby-like, but object is a Braintree::ResourceCollection so limited methods available
  = render :partial => "payments/transaction_details", :locals => {:transaction => t}
  - counter += 1
= link_to t(:transaction_history), payments_path
%legend= t(:subscriptions)
- if @active_subscription
  = render :partial => "subscriptions/subscription_details", :locals => {:subscription => @active_subscription}
- else
  %p
    = t(:no_active_subscription)
  %p
    .form-actions
      = link_to t(:subscribe_to_plan), new_subscription_path, :class => :btn
%p
  = link_to t(:all_subscriptions), subscriptions_path
