.span1
.span9
  = render :partial => 'users/warnings'
  %h2=t :login
  .lead=t :login_info
  = simple_form_for [:api, @session], :validate => true, :html => { :id => :new_session, :class => 'form-horizontal' } do |f|
    = f.input :login, :required => false, :label => t(:username), :input_html => { :id => :srp_username }
    = f.input :password, :required => false, :input_html => { :id => :srp_password }
    .form-actions
      = f.button :submit, :value => t(:login), :class => 'btn-primary'
      = link_to t(:cancel), home_path, :class => 'btn'
