= field_set_tag "Customer" do
  = f.fields_for :customer do |c|
    %div= c.label :first_name, "First Name"
    %div= c.text_field :first_name
    %div= c.label :last_name, "Last Name"
    %div= c.text_field :last_name
    %div= c.label :email, "Email"
    %div= c.text_field :email
= field_set_tag "Credit Card" do
  = f.fields_for :credit_card do |c|
    %div= c.label :number, "Number"
    %div= c.text_field :number
    %div= c.label :expiration_date, "Expiration Date (MM/YY)"
    %div= c.text_field :expiration_date
    %div= c.label :cvv, "CVV"
    %div= c.text_field :cvv