%legend= t(:customer_information)
%dl
  %dt First Name
  %dd= @customer.first_name
  %dt Last Name
  %dd= @customer.last_name
  %dt Phone
  %dd= @customer.phone
%legend= t(:credit_card_information)
%dl
  %dt Number
  %dd= @default_cc.masked_number
  %dt Expiration Date
  %dd= @default_cc.expiration_date
  - if current_user == @user
    = btn t(:edit_saved_data), edit_customer_path(@user.id)
