%p
 = t(:personal_info)
%div
 = text_field_tag :first_name, "",placeholder: "First Name", class: "radius"
%div
 = text_field_tag :last_name, "",placeholder: "Last Name", class: "radius"
%div
 = text_field_tag :company, "",placeholder: "Company", class: "radius"
%div
 = text_field_tag :phone, "",placeholder: "Phone", class: "radius"
