.span8.offset2
  %noscript.alert.alert-error=t :js_required
  #cookie_warning.alert.alert-error{:display => 'none'}
    =t :cookie_disabled_warning
  :javascript
    document.cookie = "testing=cookies_enabled; path=/";
    if(document.cookie.indexOf("testing=cookies_enabled") < 0)
    {
      document.getElementById('cookie_warning').style.display = 'block';
    } else {
      document.getElementById('cookie_warning').style.display = 'none';
    }
  %h2=t :login
  = simple_form_for @session, :validate => true, :html => { :id => :new_session, :class => 'form-horizontal' } do |f|
    %legend=t :login_message
    = f.input :login, :input_html => { :id => :srp_username }
    = f.input :password, :required => true, :input_html => { :id => :srp_password }
    = f.button :submit, :value => t(:login), :class => 'btn-primary'
    = link_to t(:cancel), root_url, :class => :btn