= render :partial => 'payments/customer_data'
= link_to 'Make Payment', new_payment_path, :class => :btn
%h3 Transaction History
= render(:partial => "transaction", :collection => @transactions) # show subset with link to see more
- if @active_subscription
  %h3 Active Subscription
  = render :partial => "subscriptions/subscription_details", :locals => {:subscription => @active_subscription}
  = link_to 'All subscriptions', subscriptions_path