<h2 class="mbs">Subscriptions</h2>
<br>
<br>
<div id="last"> Lastest Subscriptions:
  <% if params[:search] == "active" %>
    <%= render :partial => "subscriptions/subscription_details" %>
    <%# Add destroy, route %>
    <%=link_to "Unsubscribe", :show_subscription, class: "button" %>
  </div>
  <br>
  <% else %>
    <p> No subscriptions </p>
    <p>Choose subcription:</p>
    <br>
    <ul class="nav nav-tabs nav-stacked">
      <% @subscriptions.each do |subscription| %>
        <li>
        <div class="btn-group">
          <button class="btn"> <%= subscription.name %>
            <%= subscription.price %> </button>
        </div>
        <div>
          <%=link_to "Subscribe", :show_subscription, class: "button" %>
        </div> <br>
        </li>
      <% end %>
    <% end %>
</ul>





