<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<h2 class="mbs">New Subscription
</h2>
<br/>
<%= simple_form_for :subscription, :url => :subscriptions, :id => "checkout-form-#{subscription.id}" do |f| %>
  <input name="plan_id" type="hidden" value="<%= subscription.id %>"></input>
  <% if current_user and !current_user.has_payment_info? %>
    <%= render 'customer_form'%>
  <% end %>
  <br/>
  <p> Please enter payment details: </p>
  <div id="payment-form-<%= subscription.id %>"></div>
  <div class="form-actions">
    <%= f.submit t(:choose), :class => 'btn btn-primary' %>
  </div>
  <script charset="utf-8" type="text/javascript">
    var clientToken = "<%= @client_token %>";
    braintree.setup(clientToken, "dropin", {
      container: "payment-form-#{subscription.id}",
      coinbase: { container: "coinbase-container-id" }
      });
    </script>
  <% end %>
<div id="payment-form"></div>
<div id="coinbase-container-id"></div>

