:ruby
  # DISABLED! this form points to a route that does not exist.
  #   It's a draft for implementing service levels.
  # TODO: probably won't want here, but here for now.
  #       We will need way to ensure payment for a non-free plan.
  #
  # SERVICE LEVEL
  #
  #
- if APP_CONFIG[:service_levels] && false
  - form_options = {:html => {:class => user_form_class('form-horizontal'), :id => 'update_service_level', :data => {token: session[:token]}}, :validate => true}
  = simple_form_for @user, form_options do |f|
    %legend= t(:service_level)
    - if @user != current_user
      = t(:desired_service_level)
    = f.select :desired_service_level_code, ServiceLevel.select_options, :selected => @user.desired_service_level.id
    - if @user != current_user
      %p
      = t(:effective_service_level)
      = f.select :effective_service_level_code, ServiceLevel.select_options, :selected => @user.effective_service_level.id
    .form-group
      .controls
        = f.submit t(:save), :class => 'btn', :data => {"loading-text" => "Saving..."}
