-#
-# DESTROY ACCOUNT
-#

%legend
  = destroy_account_text
%p= t(:destroy_account_info)
= form_tag user_path(@user), method: :delete do
  .checkbox
    = label_tag do
      = check_box_tag 'block_username', 1, true
      = t(:keep_username_blocked)
  = button_tag class: "btn btn-danger" do
    = icon(:remove)
    = @user == current_user ? destroy_account_text : t(:destroy)

- if @user != current_user and @user.enabled?
  %legend
    = t(:deactivate_account, :username => @user.login)
  %p= t(:deactivate_description)
  = btn deactivate_user_path(@user), :method => :post, :type => "warning"  do
    = icon :pause
    = t(:deactivate)
- elsif @user != current_user and !@user.enabled?
  %legend
    = t(:enable_account, :username => @user.login)
  %p= t(:enable_description)
  = btn enable_user_path(@user), :method => :post, :type => "warning"  do
    = icon :ok
    = t(:enable)
