-#
-# DESTROY ACCOUNT
-#

%legend
  - if @user == current_user
    = t(:destroy_my_account)
  - else
    = t(:admin_destroy_account, :username => @user.login)
%p= t(:destroy_account_info)
= destroy_btn user_path(@user), :type => "danger" do
  %i.icon-remove.icon-white
  = t(:destroy_my_account)
- if @user != current_user and @user.enabled?
  %legend
    = t(:deactivate_account, :username => @user.login)
  %p= t(:deactivate_description)
  = btn deactivate_user_path(@user), :method => :post, :type => "warning"  do
    %i.icon-pause.icon-white
    = t(:deactivate)
- elsif @user != current_user and !@user.enabled?
  %legend
    = t(:enable_account, :username => @user.login)
  %p= t(:enable_description)
  = btn enable_user_path(@user), :method => :post, :type => "warning"  do
    %i.icon-ok.icon-white
    = t(:enable)
