<% if twitter_enabled == true %>
  <div class="twitter">

    <div class="twitter_header">
      <div class="twitter_id">
        <div class="twitter_pic twitter_image_frame"><%= image_tag("Twitter_Logo_White_On_Blue.png") %></div>
          <div class="twitter_name"><%= twitter_name%><br><a href="https://twitter.com/loadtocode">@<%= twitter_handle %></a></div>
      </div>
    </div>

      <!-- <div class="twitter_header">
        <p>These are the most recent tweets by <%= twitter_name%></p>

        <div class="twitter_id">
          <div class="twitter_pic twitter_image_frame"><%= image_tag("Twitter_Logo_White_On_Blue.png") %></div>
          <div class="twitter_name"><a href="https://twitter.com/loadtocode">@<%= twitter_handle %></a></div>
        </div>
      </div> -->

      <div class="twitter_list">
        <% twitter_timeline.each do |e| %>
          <div class="tweet">
            <div class="tweet_text"><%= " #{e.text}" %>
            </div>
            <div class="tweet_text_date">tweeted on <% t = e.created_at%> <%= t.strftime("%m/%d/%y").to_s %>
            </div>
          </div>
        <% end %>
    </div>

    <div class="twitter_footer">
      <p>This feed uses a Ruby interface to access the Twitter API. Within LEAP Twitter does not track you.</p>
    </div>
</div>
<% end %>
