- # only show comment if user is admin or comment is not private
- if admin? or !comment.private
  %tr
    %td.user
      %div
        %strong
          - if comment.posted_by_user
            = comment.posted_by_user.login
          - else
            = t(:anonymous)
      %div= comment.posted_at.to_s(:short)
      - if comment.posted_by_user && comment.posted_by_user.is_admin?
        %div
          %span.label.label-inverse
            = t(:admin)
      - if comment.private
        %div
          %span.label.label-important
            = t(:private)
    %td.comment
      = simple_format(comment.body)
