-#
-# for posting a new comment to an existing ticket.
-#
= simple_form_for @ticket, :html => {:class => 'slim'}  do |f|
  = hidden_ticket_fields
  = f.simple_fields_for :comments, @comment, :wrapper => :none, :html => {:class => 'slim'} do |c|
    = c.input :body, :label => false, :as => :text, :input_html => {:class => "full-width", :rows=> 5}
    - if admin?
      = c.input :private, :as => :boolean, :label => false, :inline_label => true
  = f.button :loading, t(".post_reply"), class: 'btn-primary', value: 'post_reply'
  - if logged_in? && @ticket.is_open
    = f.button :loading, t(".reply_and_close"), value: 'reply_and_close'
    = btn t(".cancel"), auto_tickets_path
