- @show_navigation = params[:user_id].present?

= render 'tickets/tabs'

- user = @user if admin?
- user ||= current_user

= simple_form_for @ticket, :validate => true, :html => {:class => 'form-horizontal'} do |f|
  = hidden_ticket_fields
  = f.input :subject
  = f.input :email, input_html: {value: user.email_address}
  = f.input :regarding_user, input_html: {value: user.login}
  = f.simple_fields_for :comments, @comment do |c|
    = c.input :body, :label => t(:description), :as => :text, :input_html => {:class => "full-width", :rows=> 5}
    - if admin?
      = c.input :private, :as => :boolean, :label => false, :inline_label => true
  .form-actions
    = f.button :submit, :class => 'btn-primary', :value => t(:create_thing, :thing => t(:ticket))
    - if logged_in?
      = link_to t(:cancel), auto_tickets_path, :class => :btn
    - else
      = link_to t(:cancel), home_path, :class => 'btn'
