- only = local_assigns[:only]
- html = {:class => 'form-horizontal user form ' + (@user.new_record? ? 'new' : 'edit')}
= simple_form_for @user, :validate => true, :format => :json, :html => html do |f|
  %legend
    = t(only || :signup_message)
  = yield
  .pull-right
    = f.button :submit
    - unless only
      = link_to t(:cancel), root_url, :class => :btn
  .clearfix
