.span8.offset2
  %h2=t :settings
  - content_for :account do
    = user_form_with 'login_field', :legend => :change_login
    = user_form_with 'password_fields', :legend => :change_password
    = render 'cancel_account' if @user == current_user
  - content_for :email do
    %legend=t :email_address
    Your email address is
      =user.email_address
    = user_form_with 'email_forward_field', :legend => :forward_email
    = user_form_with 'email_aliases', :legend => :add_email_alias
  = render 'tabs/tabs', :tabs => [:account, :email]
