-#
-# This form is handled entirely by javascript, so take care when changing element ids.
-#

- form_options = {:url => '/not-used', :html => {:id =>  'new_user', :class => user_form_class('form-horizontal')}, :validate => true}

.span1
.span9
  = render :partial => 'warnings'
  %h2=t :signup
  = simple_form_for(@user, form_options) do |f|
    %legend= t(:signup_message)
    = f.input :login, :label => t(:username), :required => false, :input_html => { :id => :srp_username }
    = f.input :password,              :required => false, :validate => true, :input_html => { :id => :srp_password }
    = f.input :password_confirmation, :required => false, :validate => true, :input_html => { :id => :srp_password_confirmation }
    .form-actions
      = f.button :submit, :value => t(:signup), :class => 'btn btn-primary'
      = link_to t(:cancel), home_path, :class => 'btn'

