.span8.offset2
  = render :partial => 'warnings'
  %h2=t :signup
  = user_form do |f|
    %legend= t(:signup_message)
    = render :partial => 'login_field', :locals => {:f => f}
    = render :partial => 'password_fields', :locals => {:f => f}
    .form-actions
      = f.button :submit, :value => t(:signup), :class => 'btn-primary'
      = link_to t(:cancel), root_url, :class => :btn

