.span8.offset1
  %h2= @user.login
  .small
    = link_to 'edit', edit_user_path(@user)
  %dl.offset1
    - fields = ['login', 'email', 'created_at', 'updated_at', 'email_forward']
    - fields.each do |field|
      %dt
        = field.titleize
      %dd
        = user_field(field)
    %dt
      =t :email_aliases
    %dd
      - aliases = @user.email_aliases
      - if aliases.empty?
        none set
      - else
        .pull-left
          = render aliases
    .clearfix
    %dt
      =t :most_recently_updated_tickets
    %dd
      %table
        %tbody
          = render @user.most_recent_tickets