%p
  = subscription.id
  Balance:
  = number_to_currency(subscription.balance)
  Bill on:
  = subscription.billing_day_of_month
  Start date:
  = subscription.first_billing_date
  Paid through
  = subscription.paid_through_date
  Price
  = subscription.price
  Status
  = subscription.status
  - # would be good to get plan name but not sure if that is possible?