- if @payment_method_token
  %h1
    Subscribe to plan
  = #currently just one plan 
  = @plans[0].name
  = number_to_currency(@plans[0].price)
  = simple_form_for :subscription, :url => :subscriptions do |f|
    = hidden_field_tag :payment_method_token, @payment_method_token
    = hidden_field_tag :plan_id, @plans[0].id
    .form-actions
      = f.submit t(:subscribe), :class => 'btn btn-primary'
- else
  = t(:must_create_customer)
  %p
    = link_to t(:create_new_customer), new_customer_path
