%h1
  = t(:Donation)
- if logged_in?
  = t(:donation_not_payment)
- if @result and @result.errors.size > 0
  %div{:style => "color: red;"}
    = h @result.errors.size
    error(s)
- if @result and @result.transaction and @result.transaction.status != 'success'
  %div{:style => "color: red;"}
    = t(:processor_declined)
= braintree_form_for :transaction, :html => {:autocomplete => "off"} do |f|
  = f.label :amount, t(:amount)
  = f.text_field :amount
  = render :partial => 'non_customer_fields', :locals => {:f => f}
  = hidden_field_tag :tr_data, @tr_data
  = f.submit "Submit Donation", :class => 'btn btn-primary'
