.overview

  %h2.first= t(:overview_welcome, :username => @user.login)

  - if admin?
    %p
      = t(:created)
      = @user.created_at
      %br
      = t(:updated)
      = @user.updated_at
      %br
      = t(:enabled)
      = @user.enabled?

  %p= t(:overview_intro)

  %ul.unstyled
    %li= icon('user') + link_to(t(:overview_account), edit_user_path(@user))
    %li= icon('envelope') + link_to(t(:overview_email), edit_user_email_settings_path(@user))
    %li= icon('question-sign') + link_to(t(:overview_tickets), user_tickets_path(@user))
    %li= icon('shopping-cart') + link_to(t(:overview_billing), show_customer_path(@user))
