- os = download_for_os
%div{:class => "os-#{os}"}
  %span.link
    - btn_class = (os == "other") ? "disabled" : "btn-primary"
    = link_to client_download_url(os), :class => "btn btn-large #{btn_class}" do
      = big_icon('download')
      .pull-right
        = t(:download_client)
        %br/
        %small= I18n.t("os.#{os}")
  %span.info
    %div= t(:client_info, :provider => content_tag(:b,APP_CONFIG[:domain])).html_safe
    %div
    - if os == "other"
      = t(:all_downloads_info, :clients => alternative_client_links(os).to_sentence).html_safe
    - else
      = t(:other_downloads_info, :clients => alternative_client_links(os).to_sentence).html_safe
