-#
-# Partial for displaying the page content. This is the only place that content should be displayed (except for home layout)
-#

- if content_for?(:content)
  - content = yield(:content)
- else
  - content = yield

- if @show_navigation && @user
  .col-md-2
    = render 'layouts/navigation'
  .col-md-10
    = render 'layouts/messages'
    = content
- else
  .col-md-12
    = render 'layouts/messages'
    = content
