%ul.nav.sidenav
  = link_to_navigation t(:overview), user_overview_path(@user), :active => controller?(:overviews)
  = link_to_navigation t(:account_settings), edit_user_path(@user), :active => controller?(:users)
  = link_to_navigation t(:email_settings), edit_user_email_settings_path(@user), :active => controller?(:email_settings)
  = link_to_navigation t(:support_tickets), auto_tickets_path, :active => controller?(:tickets)
  = link_to_navigation t(:billing_settings), new_customer_path, :active => controller?(:customer, :payments, :subscription, :credit_card_info)
  = link_to_navigation t(:logout), logout_path, :method => :delete
