%ul.nav.sidenav
  = link_to_navigation :overview, @user,
    active: (controller?(:users) && action?(:show))
  = link_to_navigation :account_settings, edit_user_path(@user),
    active: (controller?(:users) && !action?(:show))
  - # will want link for identity settings
  = link_to_navigation ".tickets", auto_tickets_path,
    active: controller?(:tickets)
  - if APP_CONFIG[:billing]
    = link_to_navigation :donations, new_payment_path,
      active: (controller?(:payments) and action?(:new))
    = link_to_navigation :billing_settings, billing_top_link(@user),
      active: controller?(:subscriptions)
  = link_to_navigation :logout, logout_path, method: :delete
