- @show_navigation = true if @show_navigation.nil? && logged_in?
!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= html_title
      %meta{:content => content_for?(:description) ? yield(:description) : "Leap Web", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body
    #masthead
      - if logged_in?
        = render 'layouts/masthead'
      - elsif params[:controller] != 'home'
        = render 'layouts/masthead_noauth'
    #main
      .container-fluid
        - if logged_in?
          .row-fluid
            .span12
              = render 'layouts/header'
        .row-fluid
          = render 'layouts/content'
    #footer
      = render 'layouts/footer'
