!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Leap Web"
      %meta{:content => content_for?(:description) ? yield(:description) : "Leap Web", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body
    #masthead
      - if logged_in?
        = render 'layouts/masthead'
      - else
        = render 'layouts/masthead_large'
    #main
      .container-fluid
        - if logged_in?
          .row-fluid
            .span12
              = render 'layouts/header'
          .row-fluid
            .span2
              = render 'layouts/navigation'
            .span10
              = render 'layouts/messages'
              = yield
        - else
          .row-fluid
            .span12
              = render 'layouts/messages'
              = yield
    #footer
      = render 'layouts/footer'
