- @show_navigation = true if @show_navigation.nil? && logged_in?
!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= html_title
      %meta{:content => content_for?(:description) ? yield(:description) : "Leap Web", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body
    #wrap
      = render 'layouts/masthead'
      #main
        .container-fluid
          - if @show_navigation
            .row-fluid
            %h1= t(:user_control_panel)
          - if logged_in?
            .row-fluid
              .span12
                = render 'layouts/header'
          .row-fluid
            = render 'layouts/content'
      #push
        -# #push is used for sticky footer in bootstrap 2. remove when upgrading to bootstrap 3
    #footer
      = render 'layouts/footer'
