-#
-# for posting a new comment to an existing ticket.
-#
= simple_form_for @ticket, :html => {:class => 'slim'}  do |f|
  = f.simple_fields_for :comments, @comment, :wrapper => :none, :html => {:class => 'slim'} do |c|
    = c.input :body, :label => false, :as => :text, :input_html => {:class => "full-width", :rows=> 5}
    - if admin?
      = c.input :private, :as => :boolean, :label => false, :inline_label => true
  = f.button :submit, t(:post_reply), :class => 'btn-primary'
  - if @ticket.is_open
    = f.button :submit, t(:reply_and_close)
  = link_to t(:destroy), ticket_path,  :confirm => 'are you sure?', :method => :delete, :class => 'btn btn-danger' if admin?
  = link_to t(:cancel), tickets_path, :class => :btn
