.spam12
  %b
    Created by:
  - if @ticket.created_by_user
    = link_to @ticket.created_by_user.login, edit_user_path(@ticket.created_by_user) #todo: won't want edit path
  - else
    Unauthenticated ticket creator
  - if @ticket.regarding_user
    %b
      Regarding user:
    - if admin?
      - if @ticket.regarding_user_actual_user
        = link_to @ticket.regarding_user_actual_user.login, edit_user_path(@ticket.regarding_user_actual_user) #todo: won't want edit path
      - else
        = @ticket.regarding_user + ' (no such user)'
    - else # a non-admin is viewing the ticket, so they shouldn't see confirmation of whether the regarding_user exists or not.
      = @ticket.regarding_user
  - if @ticket.email
    %b
      email:
    = @ticket.email
  %b
    Created at:
  = @ticket.created_at.to_s(:short)
  %b
    Updated at:
  = @ticket.updated_at.to_s(:short)
  %b
    = "Status:"
  - if @ticket.is_open
    = 'open'
    = button_to 'Close', {:post => {:is_open => false}}, :method => :put, :class => 'btn btn-small'
  - else
    = 'closed'
    = button_to 'Open', {:post => {:is_open => true}}, :method => :put, :class => 'btn btn-small'
