%h1 tickets index (just as space)
%h1 tickets index (just as space)
%h1 tickets index (just as space)

Create a 
= link_to "new ticket", new_ticket_path

= #%div{"data-pjax-container" => ""} # not sure how to get this working right
.row
  .span2
    - if admin?
      %h4 whose tickets    
      %ul.nav.nav-pills
        %li{:class => ("active" if params[:admin_status] == 'mine')}
          = link_to 'only tickets i admin', {:admin_status => 'mine', :open_status => params[:open_status]}
        %li{:class => ("active" if params[:admin_status] != 'mine')} 
          = link_to 'all', {:admin_status => 'all', :open_status => params[:open_status]}
  .span10
    %ul.nav.nav-tabs
      %li{:class => ("active" if params[:open_status] != 'closed' and params[:open_status] != 'all')}
        = link_to 'open issues', {:open_status => 'open', :admin_status => params[:admin_status]}
      %li{:class => ("active" if params[:open_status] == 'closed')}
        = link_to 'closed issues', {:open_status => 'closed', :admin_status => params[:admin_status]}
        = #%a{:href => "#"} closed issue
      %li{:class => ("active" if params[:open_status] == 'all')}
        = link_to 'open & closed issues', {:open_status => 'all', :admin_status => params[:admin_status]}

    - @tickets.each do |ticket|
      %p
      = link_to ticket.title, ticket
      comments by:
      = ticket.commenters 


%div{"data-pjax-container" => ""}
  / PJAX updates will go here
  hmmm


